
* {
    box-sizing: border-box;
    text-align: center;
  }

#all-content {
    max-width: 960px;
    margin: 0 auto;
    color: aliceblue;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/folk-pattern-black.png");
   
}

h1 {
    font-family: 'Georgia', Times, serif;
}

.button-nav {
    float: left;
}

.nav-bar {
    position: fixed;
    top: 0;
    color: black;
    background-color: aliceblue;
    width: 100%;

}

#control-name {
    color: aliceblue;
    background-color: black;
    float: left;
    padding: 10px 20px;
    margin-left: 20%;
    margin-bottom: 0;
}

#content-index {
    

}

footer {
    padding: 20px 30px;
    background-color: slategray;
}